MONGODB_USER=your_username_here
MONGODB_PASSWORD=your_password_here // remember encode special characters. ex @ -> %40
MONGODB_CLUSTER=your_url.mongodb.net // ex: cluster0.example.mongodb.net
MONGODB_DBNAME=your_db_name_here // ex: Tamagochi
MONGODB_URI=mongodb+srv://${MONGODB_USER}:${MONGODB_PASSWORD}@${MONGODB_CLUSTER} // Full connection string, change if u know what it is

# API Settings
PORT=4000
RATE_LIMITER_TIME=60000 // time window in milliseconds
RATE_LIMITER_MAX_REQUESTS=60 // max requests allowed in the time window. set to 0 for unlimited

# Other Settings
AUTH_KEY=your_auth_key_here
CORS_ORIGIN=*
SERVER_URL=http://localhost:4000